{% extends 'music_app/main.html' %}
{% load static %}
{% block content %}
  <div class="py-2 mb-3" id="full-body">
      <div class="container mt-5">
        <div class="row ">
            <div class="col-md-8">
                <div style="background-color: #169c46;" class=" text-white p-2 text-center text-md-left mb-3 rounded mt-4">
                    <h1 class="reduce-h1">Trending Music</h1>
                </div>
                <div class="row">
                      {% for song in page_obj.object_list %}
                      <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 mb-4">
                        <a href="{% url 'music_app:music_detail' song.id %}" class="music-link ">
                            <div class="music-box scale-for-music">
                                <div class="card shadow"><img class="img-fluid " src="{{song.imageURL}}" alt="{{song.name}}">
                                    <div class="card-text p-4 text-center">
                                        <div><i style="font-size: 10px;  padding: 10px;" class="fas fa-play bg-success mb-1 text-light rounded-circle text-small"></i></div>
                                        <h1 class="reduce-music-title">[New Music] <br> <span style="">{{song.name}}</span></h1>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                     {% endfor %}
                  <div class="mb-5">&nbsp;</div>
                  <div class="d-flex justify-content-center align-items-center mx-auto mb-5">
                    <nav>
                      <ul class="pagination">
                          {%if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link text-success" href="?page={{page_obj.previous_page_number}}" rel="Previous"  aria-label="&laquo; Previous"><i class="fa fa-chevron-left"></i></a>
                          </li>
                          {% endif %}
                          {% for page_number in page_obj.paginator.page_range %}
                          <li class="page-item text-success {% if page_number == page_obj.number %}active{% endif %} "><a class="page-link text-{% if page_number == page_obj.number %}light{% else %}success{% endif %}"  href="?page={{page_number}}">{{page_number}}</a></li>
                          {% endfor %}
                          {%if page_obj.has_next %}
                          <li class="page-item"><a class="page-link text-success" href="?page={{page_obj.next_page_number}}" rel="next" aria-label="Next &raquo;"><i class="fa fa-chevron-right"></i></a>
                          </li>
                         {% endif %}
                     </ul>
                    </nav>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="bg-success text-white p-2 text-center text-md-left mb-3 ml-3 rounded mt-4"><h1 class="reduce-h1">Most Streamed Song</h1></div>
                <a href="{% url 'music_app:music_detail' 6 %}" class="music-link">
                    <div class="card shadow-sm">
                        <img class="img-fluid" src="https://musicreel.com.ng/storage/music_cover_arts/Nagode - Peter Ogar1697781239(musicreel.com.ng).jpg"
                             class="mr-3" alt="Nagode - Peter Ogar" />
                        <h5 class="text-center p-3">Nagode - Peter Ogar</h5>
                    </div>
                </a>
                <div class="bg-success text-white p-2 text-center text-md-left mb-3 rounded mt-4"><h1 class="reduce-h1">Most Downloaded Song</h1></div>
                <a href="{% url 'music_app:music_detail' 6 %}" class="music-link">
                    <div class="card shadow-sm">
                        <img class="img-fluid"
                             src="https://musicreel.com.ng/storage/music_cover_arts/Nagode - Peter Ogar1697781239(musicreel.com.ng).jpg" class="mr-3"
                             alt="Nagode - Peter Ogar" />
                            <h5 class="text-center p-3">Nagode - Peter Ogar</h5>
                    </div>
                </a>
                <div class="bg-success text-white p-2 text-center text-md-left mb-3 rounded mt-4">
                    <h1 class="reduce-h1">Albums/Eps</h1>
                </div>
                <p>More Albums/Eps Coming</p>
                <a class="btn btn-success btn-block" href="#">see more</a>
            </div>
        </div>
     </div>
  </div>

 {% endblock content %}